@{
    ViewData["Title"] = "Acessorios";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FUTEON</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
    <hr style="color: black;" >

    


    <div>
        <h2>Caneca Fluminense</h2>
        <img src="~/img/imagem.02.jpg" id="sl">
        <h3>Xícara Tricolor</h3>
        <h3 id="preco">$20,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
<hr>
        <h2>Chaveiro Flamengo</h2>
        <img src="~/img/imagem.03.jpg" id="sl">
        <h3>Chaveiro Rubro Negro</h3>
        <h3 id="preco">$22,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
        <hr>
        <h2>Copo Vasco da Gama</h2>
        <img src="~/img/img13.jpg"
       id="sl">
        <h3>Copo Cruz Maltino</h3>
        <h3 id="preco">$40,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
        <hr>
        <h2>Mala Botafogo</h2>
        <img src="~/img/img14.jpg"
        id="sl">
        <h3>Bolsa Glorioso</h3>
        <h3 id="preco">$100,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
