@{
    ViewData["Title"] = "Galeria";
}

<body>
    
   <h1 id="tit">GALERIA DE PRODUTOS</h1>
  <hr>
   <div>
    <iframe width="550" height="450" src="https://www.youtube.com/embed/wvjS_AVcRVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 <div>
     <iframe width="550" height="450" src="https://www.youtube.com/embed/OwjM2ft1y9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 
 <div>
     <iframe width="550" height="450" src="https://www.youtube.com/embed/2hVK0hibEBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
   
</body>