@{
    ViewData["Title"] = "Inicio";
}

<hr style="color: black;">

<h1 id="ln">Quem somos?</h1>
<p id="lk">A FUTEON é mais que uma loja de materiais esportivos, vestuário confortável e suplementos... somos uma loja
    disposta a te motivar e te ajudar a ter experiências únicas pelo mundo a fora, a ter mais qualidade e bem estar nas
    tuas atividades físicas e sentir-se bem consigo mesmo. Por isso dispomos de produtos que te auxiliam a chegar lá!

</p>

<h1 id="ln">Missão</h1>
<p id="lk">Sermos a marca referência no mercado de artigos esportivos. Produzir produtos dentro dos mais altos padrões e
    com matéria prima de primeiríssima qualidade. Ter o encantamento do cliente como foco principal do nosso negócio e
    primarmos pela excelência em nosso atendimento.</p>
<h1 id="ln">Visão</h1>
<p id="lk">Acreditamos que não existe resultado sem esforço, por isso trabalhamos arduamente para consolidarmos nossa
    marca no mercado. Queremos que nossos clientes se orgulhem de nossa marca e que mantenham conosco um relacionamento
    duradouro baseado na alegria de fazer parte de nossa história.</p>
<h1 id="ln">Valores</h1>
<p id="lk">Fazer da ética, da transparência, da lisura, da honestidade e da responsabilidade social nossos principais
    fundamentos. Partilhamos nossas conquistas, reconhecendo que nosso sucesso é fruto de nosso trabalho e que todos que
    compartilham de nossos valores são igualmente importantes para nós, para o mercado e para a sociedade.</p>




