
 @{
    ViewData["Title"] = "Roupas";
}





    

<hr style="color: black;" >

    <div>
        <h2>Camiseta Vasco da Gama</h2>
        <img src="~/img/imagem.01.jpg"   id="sl">
        <h3>Camiseta Cruz Maltino Preta</h3>
        <h3 id="preco">$320,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
<hr>
        <h2>Camiseta Flamengo</h2>
        <img src="~/img/img10.jpg"
        id="sl">
        <h3>Camiseta Oficial 22/23</h3>
        <h3 id="preco">$220,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
        <hr>
        <h2>Moletom Fluminense</h2>
        <img src="~/img/img12.jpg"
      id="sl">
        <h3>Moletom Tricolor</h3>
        <h3 id="preco">$400,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
        <hr>
        <h2>Short Vasco da Gama</h2>
        <img src="~/img/img11.jpg" id="sl">
        <h3>Short Cruz Maltino</h3>
        <h3 id="preco">$190,00</h3>
        <input type="button"
        value="Adicionar ao Carrinho">
    
