@{
    ViewData["Title"] = "Suplementos";
}


    <hr style="color: black;">




    <div>
        <h2>Whey Protein </h2>
      <img src="~/img/dux.jpg" id="sl">
        <h3>Dux-900g</h3>
        <h3 id="preco">$129,00</h3>
        <input type="button" value="Adicionar ao Carrinho">
        <hr>
        <h2>Hipercalórico</h2>
        <img src="~/img/hiper.jpg" id="sl">
        <h3>Profit-3Kg</h3>
        <h3 id="preco">$74,90</h3>
        <input type="button" value="Adicionar ao Carrinho">
        <hr>
        <h2>Creatina</h2>
        <img src="~/img/crea.jpg" id="sl">
        <h3>Max Titanium-150g</h3>
        <h3 id="preco">$150,00</h3>
        <input type="button" value="Adicionar ao Carrinho">
        <hr>
        <h2>Cápsulas BCAA</h2>
        <img src="~/img/bcaa.png" id="sl">
        <h3>Growth-200g</h3>
        <h3 id="preco">$50,40</h3>
        <input type="button" value="Adicionar ao Carrinho">


